flask
pandas
requests
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client
gunicorn
pytz
Flask-SQLAlchemy
Flask-Login
psycopg2-binary
werkzeug
flask-migrate
stripe
python-dotenv
Flask-Mail
resend
Flask-Caching
google-api-python-client